<link rel="stylesheet" href="/styles.css">
<div class="box">


<h1>Total for the Za</h1>

<p>Size: {{price.size}}</p>
<br>
<p>Number of Toppings -- {{price.topping}}</p>
<br>

<p>Gluten? {{price.gf}}</p>
<br>
<p>Special Instructions:</p>
<br>
<p>{{price.comment}}</p>

<p>This is the cost {{price.total}}</p>

<a href="/create">Back</a>
<a href="/">Home</a>
</div>